.element__like {
    height: 19px;
    width: 22px;
    background-image: url(../../../images/like.png);
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
    background-size: auto;
    cursor: pointer;
    opacity: 1;
    transition: opacity linear .5s;
}

.element__like:hover {
    opacity: .6;
}