.popup__content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 430px;
    color: black;
    background-color: #fff;
    align-self: center;
    box-sizing: border-box;
    padding:34px 36px 37px ;
}

@media screen and (max-width:550px) {
    .popup__content {
        width: 282px;
        padding: 25px 22px;
    }
}