.elements {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px 17px ;
    max-width: 880px;
    margin: 0 auto 67px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:900px) {
    .elements {
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }
}