.popup__type-status {
    color: black;
    margin-top: 30px;
    border: none;
    width: 358px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

@media screen and (max-width:550px) {
    .popup__type-status {
        width: 238px;
    }
}